@font-face {
    font-family: "Ubuntu Mono";
    src: url("../fonts/Ubuntu_Sans_Mono/static/UbuntuSansMono-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("../fonts/Ubuntu_Sans_Mono/static/UbuntuSansMono-Bold.ttf");
    font-weight: bold;
}


:root {
    --color-1: #8552F2;
    --color-2: #030140;
    --color-3: #030526;
    --color-4: #021373;
    --color-5: #020F59;
    --color-6: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Mono", Arial, Helvetica, sans-serif;
    color: var(--color-6);
    text-decoration: none;
}

body, html {
    background-color: var(--color-3);
    min-height: 100vh;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 92%;
}

header {
    padding: 2rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

header .logo img {
    width: 50px;
    cursor: pointer;
}

nav.mobile {
    display: none;
}

nav.mobile #menu-icon img {
    width: 40px;
}

nav.mobile .list {
    position: absolute;
    left: 0;
    width: 100vw;
    background-color: #030140;
}

nav.mobile ul {
    padding: 2rem;
    list-style-type: none;
}

nav.mobile ul li {
    padding: .5rem 0;
}

nav.desktop {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

nav a {
    color: var(--color-6);
    transition: color 0.1s ease;
    position: relative;
}

nav a.active {
    color: var(--color-1);
}

nav a.active::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: var(--color-1);
    top: 110%;
    opacity: 1;
}

nav a:hover {
    color: var(--color-1);
}

nav a::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: var(--color-1);
    top: 130%;
    opacity: 0;
    transition: top 0.2s ease, opacity 0.2s ease;
}

nav a:hover::before {
    top: 110%;
    opacity: 1;
}

@media screen and (max-width: 1030px) {
    nav.mobile {
        display: block;
    }

    nav.desktop {
        display: none;
    }
}