* {
    margin: 0;
    padding: 0;
}
body{
    height: 1000px;
}
@font-face {
        font-family: 'Teko';
        src: url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
    }

.Etim{
    color: rgb(185, 38, 38);
}
.Etim span{
    color: rgb(55, 55, 55);
}
.EtecLogo{
    height: 60px;
}
li {
    padding-right: 10px;
}

a {
    font-size: 14px;
    font-family: 'Teko', sans-serif;
    border-radius: 5px;
}

li a:hover, .nav-link:hover {
    background-color: rgb(185, 38, 38);
    border-radius: 5px;
    color: white;
}

nav {
    height: 90px;
    margin: 70px 100px;
    margin-top: 150px;
    transition: 0.4s ease-in;
}

nav.sticky {
    
    margin: 10px;
    height: 90px;
}

.navbar-custom {
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.nav-link {
    color: black;
}
.selected{
    background-color: rgb(185, 38, 38);
    color: white;
}
.nav-items {
    padding-left: 1.5rem;
}

.nav-display{
    display: flex;
    flex-direction: column;
}
.current{
    display: none;
    transition: 0.3s ease-in-out;
}
/***************************************/
.sectionum{
    width: 100%;
    height: 120vh;
}
/*****************************************/
.sectiondois{
    background-color: rgb(247, 245, 245);
}
.sectiondois h2{
    color: rgb(193, 14, 14);
}
.flip-card{
    margin: auto;
    height: 300px;
}
.flip-card-front{
    background-color: white;
}
.flip-card-back{
    background-color: #d54317;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
}
.flip-card-inner{
    position: relative;
    height: 100%;
    transition: transform 0.7s ease-in;
    transform-style: preserve-3d;
}
.flip-card-back, .flip-card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
/******************************************/
.sectiontres{
    width: 100%;
    height: 40vh;
    background-color: rgb(196, 11, 11);
}
.bg{
    width: 80%;
    padding-top: 200px;
    background-color: rgba(255, 255, 255, 0.373);
}
/******************************************/
.sectionquatro{
    width: 100%;
    height: 80vh;
    background-color: rgb(243, 241, 241);
}
/******************************************/
footer{
    width: 100%;
    height: 20vh;
    background-color: rgb(93, 91, 91);
}


