* {
    margin: 0;
    padding: 0;
}
body{
    height: 1000px;
}
@font-face {
        font-family: 'Teko';
        src: url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
    }

.Etim{
    color: rgb(185, 38, 38);
}
.Etim span{
    color: rgb(55, 55, 55);
}
.EtecLogo{
    height: 60px;
}
li {
    padding-right: 10px;
}

a {
    font-size: 14px;
    font-family: 'Teko', sans-serif;
    border-radius: 5px;
}

li a:hover, .nav-link:hover {
    background-color: rgb(185, 38, 38);
    border-radius: 5px;
    color: white;
}

nav {
    height: 90px;
    margin: 80px 100px;
    margin-top: 150px;
    transition: 0.3s ease-in;
}

nav.sticky {
    
    margin: 10px;
    height: 90px;
}

.navbar-custom {
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.nav-link {
    color: black;
}
.selected{
    background-color: rgb(185, 38, 38);
    color: white;
}
.nav-items {
    padding-left: 1.5rem;
}

.nav-display{
    display: flex;
    flex-direction: column;
}
.current{
    display: none;
    transition: 0.3s ease-in-out;
}
/***************************************/
.sectionum{
    width: 100%;
    height: 120vh;
}
/*****************************************/


.sectiondois{
    position: relative;
    background-color: rgb(247, 245, 245);
    padding: 7rem 0;
}
.sectiondois::before {
    content: "";
    position: absolute;
    background-image: linear-gradient( transparent, rgb(247, 245, 245));
    top: -120px;
    height: 120px;
    width: 100%;
}
.sectiondois h2{
    font-size: 4rem;
    text-align: center;
    color: rgb(193, 14, 14);
}
.atividade_single{
    background-color: rgba(255, 0, 0, 0.451);
    width: 40%;
    padding: 3rem;
    border-radius: 10px;
}
.atividade_single p{
    color: white;
}
.foto_atividade{
    width: 100%;
}

/******************************************/

/******************************************/

/******************************************/
footer{
    width: 100%;
    height: 20vh;
    background-color: rgb(93, 91, 91);
}
/*********** HERO ***************/
.sectionum {
    overflow: hidden;
    min-height: 130vh;
    background-image: url("../assets/images/aps-background-image.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.sectionum .light-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.6;
}

.sectionum .container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    height: 100vh;
}

.sectionum .svg-group {
    position: relative;
    height: 100%;
    width: 100%;
}

.sectionum .svg-group #processor-svg {
    width: 200px;
    position: absolute;
    top: 300px;
    transform: rotate(-10deg);
}

.sectionum .svg-group #chart-svg {
    width: 100px;
    position: absolute;
    top: 500px;
    left: 200px;
}

.sectionum .svg-group #code-svg {
    width: 150px;
    position: absolute;
    top: 600px;
}

.sectionum .hero-content {
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 80px 100px rgba(255, 255, 255, 0.6);
}

.hero-content-text {
    position: relative;
}

.sectionum .hero-content h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.sectionum .hero-content span {
    color: rgb(185, 38, 38);
}
/**********************************************/




